<w-nav class="router" label="Component navigation" orientation="vertical">
  <ui-box :text="counter"></ui-box>
  <a
    slot="item"
    class="router-button"
    href="/Accordion"
    onclick="uizy.$set('counter', $('counter') + 1)"
    >Accordion</a
  >
  <a slot="item" class="router-button" href="/AspectRatio">AspectRatio</a>
  <a slot="item" class="router-button" href="/Avatar">Avatar</a>
  <a slot="item" class="router-button" href="/Breadcrumb">Breadcrumb</a>
  <a slot="item" class="router-button" href="/Carousel">Carousel</a>
  <a slot="item" class="router-button" href="/Choice">Choice</a>
  <a slot="item" class="router-button" href="/Collapsible">Collapsible</a>
  <a slot="item" class="router-button" href="/ContextMenu">ContextMenu</a>
  <a slot="item" class="router-button" href="/Dialog">Dialog</a>
  <a slot="item" class="router-button" href="/Feed">Feed</a>
  <a slot="item" class="router-button" href="/Grid">Grid</a>
  <a slot="item" class="router-button" href="/HoverCard">HoverCard</a>
  <a slot="item" class="router-button" href="/Label">Label</a>
  <a slot="item" class="router-button" href="/Link">Link</a>
  <a slot="item" class="router-button" href="/Menu">Menu</a>
  <a slot="item" class="router-button" href="/Navigation">Navigation</a>
  <a slot="item" class="router-button" href="/Popover">Popover</a>
  <a slot="item" class="router-button" href="/ProgressBar">ProgressBar</a>
  <a slot="item" class="router-button" href="/Range">Range</a>
  <a slot="item" class="router-button" href="/Scrollbar">Scrollbar</a>
  <a slot="item" class="router-button" href="/Select">Select</a>
  <a slot="item" class="router-button" href="/Separator">Separator</a>
  <a slot="item" class="router-button" href="/Spinbutton">Spinbutton</a>
  <a slot="item" class="router-button" href="/Switch">Switch</a>
  <a slot="item" class="router-button" href="/Tabs">Tabs</a>
  <a slot="item" class="router-button" href="/Toast">Toast</a>
  <a slot="item" class="router-button" href="/Toggles">Toggles</a>
  <a slot="item" class="router-button" href="/Toolbar">Toolbar</a>
  <a slot="item" class="router-button" href="/Tooltip">Tooltip</a>
  <a slot="item" class="router-button" href="/Tree">Tree</a>
  <a slot="item" class="router-button" href="/Treegrid">Treegrid</a>
</w-nav>
